<div class="path-container">
  <div class="row">
    <div class="large-12 columns ">
      <h1 class="developers-title"> Developers of Quacker</h1>
    </div>
  </div>
  <div class="row path-item">
    <div class="medium-7 medium-push-1 columns">
        <%= image_tag "anna.png", class:"team-image" %>
      </div>
    <div class="large-5 pull-6 columns path-text left">
      <h3>Anna Sobolewska</h3>
      <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
      <p>Checkout Anna's work on <%= link_to "Github", "https://github.com/sobolewskaanna", target:"_blank" %></p>
    </div>
  </div>
  <div class="row path-item">
    <div class="medium-7 medium-push-1 columns">
      <%= image_tag "eric.png", class:"team-image" %>
    </div>
    <div class="large-5 columns path-text right">
      <h3>Eric Han</h3>
      <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
      <p>Checkout Eric's work on <%= link_to "Github", "https://github.com/scoobaroo", target:"_blank" %></p>
    </div>
  </div>
  <div class="row get-feedback path-item">
    <div class="medium-7 medium-push-1 columns">
      <%= image_tag "joanne.png", class:"team-image" %>
    </div>
    <div class="large-5 pull-7 columns path-text left">
      <h3>Joanne Abad</h3>
      <p>Joanne enjoys building things that people like to use. "It’s really exciting to write code, click a button, and see people enjoying the app I created."  A fun fact about Joanne is that she competed in Hip-Hop Dance Competitions!</p>
      <p>Checkout Joanne's work on <%= link_to "Github", "https://github.com/jabad28", target:"_blank" %></p>
    </div>
  </div>
  <div class="row land-job path-item">
    <div class="medium-7 medium-push-1 columns">
      <%= image_tag "ilter.png", class:"team-image" %>
    </div>
    <div class="large-5 columns path-text right">
      <h3>Ilter Ates</h3>
      <p>After winning the famous "Are You Fmarter Than a 5th Grader" TV show, Ilter started developing ill web solutions.</p>
      <p>Checkout Ilter's work on <%= link_to "Github", "https://github.com/ilterates", target:"_blank" %></p>
    </div>
  </div>
  <span class="line hide-for-small"></span>
</div>
