<div class="row sign-up-form" id="content">
  <div class="medium-3 medium-offset-7 columns">
    <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username , placeholder:"Username" %> <br>
      <%= f.label :email %>
      <%= f.text_field :email ,placeholder: "Email" %> <br>
      <%= f.label :password %>
      <%= f.password_field :password , placeholder: "Password" %> <br>
      <%= f.submit "Create Account", class:"button radius" %>
      <p> Already have an account? <%= link_to "Sign In", login_path %></p>
    <% end %>
  </div>
</div>
