<hr>
<h1 class="tweetsIndex">Index of Tweets</h1>

<% if current_user != @user %>
  <%= @user.tweets.each do |tweet| %>
    <%= render 'tweets/show', tweet: tweet %>
  <% end %>
<% end %>

<% if @following %>
  <% @following.each do |f| %>
    <% f.tweets.each do |tweet| %>
    <%= render 'tweets/show', tweet: tweet %>
      <!-- <div class="blog-post">
      <h3><%= link_to tweet.title, tweet_path(tweet) %></h3>
      <img class="thumbnail" src="http://placehold.it/100x100">
      <p><%= tweet.body %></p>
      <%= like_tweet_path(current_user,tweet) %>
        <div class="callout">
          <ul class="menu simple">
             <%= link_to "Dislike", dislike_tweet_path(tweet), class: 'vote', method: :patch, id: tweet.id  %>
             <%= link_to "Like", like_tweet_path(tweet), class: 'vote', method: :patch, id: tweet.id %>
            <li>Likes: <%= tweet.get_likes.size %>
            <li>DisLikes: <%= tweet.get_dislikes.size %>
            <li>Author:<%=link_to tweet.user.username, user_path(tweet.user)%></li>
            <li><%= link_to "Comment!", new_comment_path(tweet) %>
            <li>Latitude: <%= tweet.latitude %></li>
            <li>Longitude <%= tweet.longitude %></li>
          </ul>
        </div>
      </div>
      <br> -->
    <% end %>
  <% end %>
<% end %>



<% if current_user.id == @user.id %>
  <%= link_to "Post New Tweet", new_tweet_path(current_user) %>
<% end %>
