<hr>
<div class="blog-post">
  <% if @tweet %>
    <% tweet = @tweet %>
  <% end %>
  <li><%= link_to tweet.user.username, user_path(tweet.user)%></li>
  <% if @user.avatar.url == nil %>
  <img class="thumbnail" src="http://placehold.it/100x100">
 <% else %>
  <%= cl_image_tag (@user.avatar.url), :width => 100, :height => 100, :crop => :fill, :gravity => :face %>
  <% end %>
  <p><%= link_to tweet.body, tweet_path(tweet)%></p>
  <div class="callout">
    <ul class="menu simple">
      <li><%= link_to "Dislike", dislike_tweet_path(tweet), class: 'vote', method: :patch, id: tweet.id %></li>
      <li><%= link_to "Like", like_tweet_path(tweet), class: 'vote', method: :patch, id: tweet.id %></li>
      <li>Likes: <%= tweet.get_likes.size %>
      <li>DisLikes: <%= tweet.get_dislikes.size %>
        <br>
      <li>Latitude: <%= tweet.latitude %></li>
      <li>Longitude: <%= tweet.longitude %></li>
        <br>
    </ul>

    <ul class="menu simple">
      <br>
      <li><h5>Comments:</h5></li>
        <li> <%= link_to "Comment!", new_comment_path(tweet) %></li>
      <% tweet.comments.each do |comment| %>
        <%= link_to "Edit Comment", tweet_comment_path(tweet, comment) %>
        <br>
        <li><%= link_to comment.body, comments_path %></li>
      <% end %><br>
    </ul>

  </div>
</div>

<%= link_to "Edit", edit_tweet_path(tweet) %>
<%= link_to "Delete", destroy_tweet_path(tweet), method: :delete %>
