<h1>Index of Tweets</h1>
<% @tweets.each do |t| %>
<div class="blog-post">
<h3><%= link_to t.title, tweet_path(t) %></h3>
<img class="thumbnail" src="http://placehold.it/850x350">
<p><%= t.body  %></p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author:<%=t.user%></li>
<li><%= link_to "Comment!", new_comment_path(t) %>
<li>Latitude: <%= t.latitude %></li>
<li>Longitude <%= t.longitude %></li>
</ul>
</div>
</div>
<br>
<% end %>
<%= link_to "Post New Tweet", new_tweet_path %>
