<div class="">
  <%= form_for @user do |f| %>

  <%= f.text_field :username %> <br>
  <%= f.text_field :email %> <br>
  <%= f.password_field :password %> <br>
  <%= f.submit "Create Account"%>
  <% end %>
</div>
