
<div class="row" id="user-info">
  <div class="medium-8 column", id="user-profile-info">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyH3_kvHIBbYJdSO8URLXAwgwBgaxBQZVCB7-Fq_qk3FZRd3I4JA"/>
    <strong><h5>Hello <%= @user.username %> </h5></strong>
      <strong>Current City:</strong> <%= @user.current_city %>
      <div class="medium-8">
    <strong>Member since: </strong><%= @user.created_at.strftime("%m/%d/%Y") %><br>
      <% if current_user.id == @user.id %>
        <%= link_to "Edit Profile", edit_user_path %><br>
      <% end %>
      <%= button_to "Followers", users_path, method: 'get', class:"button radius" %>
      <%= button_to "Following", users_path, method: 'get', class:"button radius" %><br>
    </p>
  </div>
</div>

  <div class="medium-3 column", id="search-bar">
    <p>
    <%= form_tag user_search_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder:"Find other users", class: "findUserInput" %>
    <%= submit_tag "Search", class:"button radius", class: "findUserInputButton" %>
    </p>
    <% end %>
    <p> Or browse current users <%= link_to "Users", users_path %></p>
  </div>



<div class="tweets">
  <%= render "tweets/index" %>
</div>
