<div class="row">
  <div class="medium-3 column">
    <p>
    <%= form_tag user_search_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder:"Find other users" %>
    <%= submit_tag "Search", class:"button radius" %>
    </p>
    <% end %>
  </div>
</div>

<div class="row" id="user-info">
  <div class="medium-8 medium-offset-4 columns">
    <h2>Hello <%= @user.username %> </h2><br>
      <strong>Current City:</strong> <%= @user.current_city %>
    <p>
      <strong>Member since: </strong><%= @user.created_at.strftime("%m/%d/%Y") %>
      <% if current_user.id == @user.id %>
        <%= link_to "Edit", edit_user_path %>
      <% end %>
      <% @user.tweets.each do |tweet| %>
       <%= tweet.body %>
      <% end %>
    </p>
  </div>
</div>
