<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.username %></h1>
    </section>
    <section class="stats">
      <% if @users.any? %>
        <div class="user_avatars">
          <p>You are following <%= @users.count %> users: </p>
          <% @users.each do |user| %>
            <%= link_to user.username, user %>
            Tweet count: <%= user.tweets.count %> </br>
          <% end %>
          <% if @followers.any? %>
            <p>You have <%= @followers.count %>Followers: </p>
            <% @followers.each do |f| %>
              <%= link_to f.username, f %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
</div>
