<!DOCTYPE html>
<html>
<head>
  <script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyBLHn6WCjWBom61m7yM6B2tljeamlUZdyw" async defer></script>
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <title>Quacker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <% if !current_user %>
          <li class="menu-text"><%= link_to image_tag("noun_153623_cc.svg", class:"duck"), root_path %></li>
          <li><%= link_to "Sign In", login_path %></li>
          <li><%= link_to "About Us", about_us_path %></li>
        <% else %>
          <li class="menu-text"><%= link_to image_tag("noun_153623_cc.svg", class:"duck"), current_user %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path(current_user) %></li>
          <li><strong><%= link_to "Tweet Map", tweets_map_path, method: 'get'%></strong></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="flash">
    <% flash.each do |name, msg| %>
      <p>
        <small class="alert alert-info"> <%= name.capitalize %>: <%= msg %> </small>
      </p>
    <% end %>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
